

body
{
  margin: 0;
  padding: 0;
  border: 0;

}

img
{
  max-width: 100%;
  text-decoration:none;


}
i
{
  max-width: 100%;
  text-decoration:none;


}

p{
  font-family: sans-serif,serif;
}
h1
{
  margin: 0;
}
h2
{
  margin: 0;
}

/* ---- Reusable CSS ---- */




/* ---- Wrapper ---- */

.wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/* ---- Title ---- */
.title{
  background-color: rgba(203,244,205, .5);

}
.title h1 {
  font-family: sans-serif,serif;
  font-size: 3.5em;
  color: white;
  text-align: center;
}
.title h2 {
  font-family: sans-serif,serif;
  font-size: 2.5em;
  color: white;
  text-align: center;
}

.title img{
  border-radius: 50%;
  display: block;
    margin: 0 auto;
    width: 15.0em;
}

/* ---- Banner ---- */

.banner {
  background: url(../res/notmine.jpg) no-repeat center center fixed;

  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.Icons
{
  font-size: 5rem;
  padding: 60px;
  color: #8CAD8E;
  padding-bottom: 0;
}
.Icons p
{
  font-size: 1.4rem;
  font-weight: bold;
  color: white;

}

/* ---My Info --- */

.mainText
{
  background-color: #CBF4CD;
  justify-content: center;
  font-family: sans-serif,serif;

}

.mainItems
{
  font-family: sans-serif,serif;
  padding: 40px;
  width: 33%;
}

.item
{
  color: Black;
  text-align: center;
  background-color: white;
}
.item p
{
  font-size: 1.5em;

}
.item h1
{
font-size: 2.5em;
}
